<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
    <header>Messaging App</header>
    <nav>
        <a href="/">Home</a>
        <a href="/messages">Messages</a>
    </nav>
    <h2> this is the layout </h2>
   <%- body %>
   <footer>Footer</footer>
</div>
</body>
</html>